/*Стили для index.html*/

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

/*Header nav*/

.header-nav-list .link {
  color: var(--primary-text-color);
}

.header-nav-list .link:hover,
.header-nav-list .link:focus {
  color: var(--accent-color);
}

.header-nav-list .link.current {
  color: var(--accent-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-title {
  color: var(--primary-text-color);
}

/*HeroButton*/

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*Peculiarities*/

.peculiarities-title {
  color: var(--primary-text-color);
}

.peculiarities-list,
.title {
  color: var(--primary-text-color);
}

/*What are we doing*/

.work-list,
.title {
  color: var(--primary-text-color);
}

/*Command-list*/

.command-list,
.title {
  color: var(--primary-text-color);
}

/*Footer*/

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

/*Стили для portfolio.html*/
