/*Стили для index.html*/

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------------------------Header site-----------------------*/
.top-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  color: var(--primary-text-color);
}
.header-nav-list .link {
  color: var(--primary-text-color);
}

.header-nav-list .link:hover,
.header-nav-list .link:focus {
  color: var(--accent-color);
}

.header-nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-nav-list .link.current {
  color: var(--accent-color);
}

.header-email-first {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-email-second {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/*----------------------------------Hero----------------------------*/

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*HeroButton*/

.button {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.button.primary {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*----------------------------------Peculiarities-------------------*/

.peculiarities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.peculiarities-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.peculiarities-list,
.title {
  color: var(--primary-text-color);
}

/*----------------------------------What are we doing--------------*/

.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-list,
.title {
  color: var(--primary-text-color);
}

/*-------------------------------Command-list-----------------------*/
.command {
  background-color: #f5f4fa;
}

.command-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.name-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command-list,
.name-title {
  color: var(--primary-text-color);
}

.speciality-user {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*--------------------------------Footer----------------------------*/

.footer {
  background-color: var(--secondary-background-color);
}

.bottom-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

.footer-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*--------------------------Стили для portfolio.html----------------*/

.filter-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--------------------------Foto progects---------------------------------*/

.progect-img-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.progect-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.progect-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
